<div class="container">
	<div class="row">
		<div class="col-xl-12" *ngIf="messageCheckAllTransactions">
			<div class="alert alert-dismissible fade show" [ngClass]="{'alert-success':(successCheckAllTransactions), 'alert-warning':(!successCheckAllTransactions)}" role="alert">
			  {{messageCheckAllTransactions}}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>
		<div class="col-xl-12 mt-5">
			<div class="col-xl-12" *ngIf="loading">
				<div class="alert alert-success">
					Buscando transacciones pendientes por actualizar...
				</div>
			</div>
			<div class="col-xl-12">
				<a href="javascript:;" [routerLink]="['/dashboard']" class="btn btn-outline-success btn-block mb-5">Crear transacción</a>
			</div>
			<table class="table">
				<thead class="thead-dark">
				    <tr>
				      	<th scope="col">#</th>
				      	<th scope="col">transactionID</th>
				      	<th scope="col">sessionID</th>
				      	<th scope="col">trazabilityCode</th>
				      	<th scope="col">bankCurrency</th>
				      	<th scope="col">transactionState</th>
				      	<th scope="col">created at</th>
				    </tr>
			  	</thead>
			  	<tbody>
				    <tr *ngFor="let transaction of transactions">
				      	<th scope="row">{{transaction.id}}</th>
				      	<td>{{transaction.transactionID}}</td>
				      	<td>{{transaction.sessionID}}</td>
				      	<td>{{transaction.trazabilityCode}}</td>
				      	<th>{{transaction.bankCurrency}}</th>
				      	<td>{{transaction.transactionState}}</td>
				      	<td>{{transaction.created_at}}</td>
				    </tr>				    
				  </tbody>
			</table>
		</div>
	</div>	
</div>