<div class="container">
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-xl-12">
			<a href="javascript:;" [routerLink]="['/transactions-list']" class="btn btn-outline-success btn-block mb-5">Listar transacciones</a>
		</div>
		<div class="col-xl-12" *ngIf="messageCheckAllTransactions">
			<div class="alert alert-dismissible fade show" [ngClass]="{'alert-success':(successCheckAllTransactions), 'alert-warning':(!successCheckAllTransactions)}" role="alert">
			  {{messageCheckAllTransactions}}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>
		<div class="col-xl-12">
			<form [formGroup]="f">
				<div class="row">
					<div class="col-xl-12">
						<div class="alert alert-info">
							A continuación completa el formulario para crear una transacción
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">					
						<h3>Datos de la transacción</h3>
					  	<div class="form-group">
						    <label for="interface">Tipo de Interfaz de banco a deplegar</label>
						    <select class="form-control" formControlName="bankInterface">
						      <option value="0">PERSONAS</option>
						      <option value="1">EMPRESAS</option>				      
						    </select>
					  	</div>		
					  	<div class="form-group" *ngIf="!loadBanks">
					  		<div class="alert alert-danger">
					  			No se pudo obtener la lista de entidades Financieras, por favor intente más tarde.
					  		</div>
					  	</div>
					  	<div class="form-group" *ngIf="banks">
						    <label for="interface">Tipo de Interfaz de banco a deplegar</label>
						    <select class="form-control" formControlName="bankCode">
						      <option *ngFor="let bank of banks" value="{{bank.bankCode}}">{{bank.bankName}}</option>				      		      
						    </select>
					  	</div>	
					  	<div class="form-group">
						    <label for="description">Descripción</label>
						    <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
						</div>
						<div class="form-group">
						    <label for="totalAmount">Total valor</label>
						    <input type="number" class="form-control" id="totalAmount" rows="3" formControlName="totalAmount">
						</div>
						<div class="form-group">
						    <label for="taxAmount">Valor Iva</label>
						    <input type="number" class="form-control" id="taxAmount" rows="3" formControlName="taxAmount">
						</div>	
						<div class="form-group">
						    <label for="devolutionBase">Base de la devolución</label>
						    <input type="number" class="form-control" id="devolutionBase" rows="3" formControlName="devolutionBase">
						</div>
						<div class="form-group">
						    <label for="tipAmount">Valor de propina</label>
						    <input type="number" class="form-control" id="tipAmount" rows="3" formControlName="tipAmount">
						</div>					  	  					
					</div>
					<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
						<h3>Datos del pagador</h3>						
						<div class="form-group">
						    <label for="interface">Tipo de Documento</label>
						    <select class="form-control" formControlName="documentType">
						      <option value="CC">CC. Cédula de ciudadanía colombiana</option>
						      <option value="CE">CE. Cédula extranjería</option>
						      <option value="TI">TI. Tarjeta de identidad</option>
						      <option value="PPN">PPN. Pasaporte</option>
						      <option value="NIT">NIT. Número de identificación tributaria</option>
						      <option value="SSN">SSN. Social Security Number</option>
						    </select>
					  	</div>	
					  	<div class="form-group">
						    <label for="document">Número del documento</label>
						    <input type="number" class="form-control" id="document" rows="3" formControlName="document">
						</div> 	
						<div class="form-group">
						    <label for="firstName">Nombres</label>
						    <input type="text" class="form-control" id="firstName" rows="3" formControlName="firstName">
						</div> 	
						<div class="form-group">
						    <label for="lastName">Apellidos</label>
						    <input type="text" class="form-control" id="lastName" rows="3" formControlName="lastName">
						</div> 
						<div class="form-group">
						    <label for="company">Empresa</label>
						    <input type="text" class="form-control" id="company" rows="3" formControlName="company">
						</div>
						<div class="form-group">
						    <label for="emailAddress">Email</label>
						    <input type="email" class="form-control" id="emailAddress" rows="3" formControlName="emailAddress">
						</div>						
						<div class="form-group">
						    <label for="address">Dirección</label>
						    <input type="text" class="form-control" id="address" rows="3" formControlName="address">
						</div>
						<div class="form-group">
						    <label for="country">País</label>
						    <select class="form-control" formControlName="country">
						      <option value="CO" selected>Colombia</option>			      
						    </select>
					  	</div>	
					  	<div class="form-group">
						    <label for="city">Ciudad</label>
						    <select class="form-control" formControlName="city">
						      <option value="Medellín" selected>Medellín</option>			      
						    </select>
					  	</div>	
					  	<div class="form-group">
						    <label for="province">Departamento</label>
						    <select class="form-control" formControlName="province">
						      <option value="Antioquia" selected>Antioquia</option>			      
						    </select>
					  	</div>	
					  	<div class="form-group">
						    <label for="phone">Teléfono</label>
						    <input type="number" class="form-control" id="phone" rows="3" formControlName="phone">
						</div>  
						<div class="form-group">
						    <label for="mobile">Celular</label>
						    <input type="number" class="form-control" id="mobile" rows="3" formControlName="mobile">
						</div> 
						<div class="alert alert-info" *ngIf="loading">
							Creando transacción por favor espere..
						</div>
						<div class="alert alert-success" *ngIf="redirectToBank">
							Redireccionando al banco..
						</div>
						<button type="button" class="btn btn-lg btn-block" [ngClass]="{'btn-danger':f.invalid || f.value.bankCode == '0', 'btn-success':!f.invalid && f.value.bankCode != '0'}" (click)="createTransaction()" [disabled]="f.invalid || f.value.bankCode == '0'">Crear</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>