<div class="container">
	<div class="row">
		<div class="col-xl-12 mt-5">
			<div class="alert alert-success text-center" role="alert">
			  	Gracias! El proceso ha temrinado correctamente!
			</div>
		</div>

		<div class="col-xl-12 text-center" *ngIf="transaction">
			<h3>Estado de la transacción</h3>
			<div class="alert text-center" [ngClass]="{'alert-success':transaction.transactionState == 'OK', 'alert-warning':transaction.transactionState == 'PENDING', 'alert-danger':transaction.transactionState == 'FAILED', 'alert-danger':transaction.transactionState == 'NOT_AUTHORIZED'}" role="alert">
			  	{{transaction.transactionState}}
			</div>
			<div class="alert text-center" [ngClass]="{'alert-success':transaction.transactionState == 'OK', 'alert-warning':transaction.transactionState == 'PENDING', 'alert-danger':transaction.transactionState == 'FAILED', 'alert-danger':transaction.transactionState == 'NOT_AUTHORIZED'}" role="alert">
			  	{{transaction.responseReasonText}}
			</div>
		</div>

		<div class="col-xl-12 text-center" *ngIf="!transaction">
			<h3>Estado de la transacción</h3>
			<div class="alert alert-info text-center" role="alert">
			  	Esperando respuesta del servidor espere un momento...
			</div>			
		</div>

		<div class="col-xl-12 mt-5">
			<a href="javascript:;" [routerLink]="['/dashboard']" class="btn btn-outline-success btn-block mb-5">Crear transacción</a>
		</div>

		<div class="col-xl-12">
			<a href="javascript:;" [routerLink]="['/transactions-list']" class="btn btn-outline-primary btn-block mb-5">Listar transacciones</a>
		</div>
	</div>
</div>